/* Estilos generales de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #02031a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Estilo del encabezado principal */
#mainHeader {
    background-color: #b10c43;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    font-size: 2em;
}

/* Formulario de Inicio de Sesión */
#login {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #021b2b;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Sección de Servicios */
#servicios {
    max-width: 800px;
    margin: 40px;
    padding: 20px;
    background-color: #021b2b;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#servicios h2 {
    color: #ff0841;
}

#servicios ul {
    list-style-type: none;
    padding: 0;
}

#servicios li {
    background-color: #02031a;
    color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b10c43;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

#servicios li:hover {
    background-color: #b10c43;
    transform: scale(1.05);
}

/* Mensaje de error */
#loginMessage {
    font-size: 0.9em;
    color: #ff0841;
    margin-top: 10px;
}
